#titulo {
    font-family: 'Anton', sans-serif;
    color: #414239;
    font-size: 4em;
}

.pelicula {
    border: 1px dotted #d7d8cb;
    padding: 10pt;
}

.pelicula img {
    width: 220px;
    height: 250px;
    display: inline-block;
    margin-left: 10pt;
    margin-right: 10pt;
}

.pelicula header h2 {
    font-family: 'Lobster', cursive;
    color: #9e0947;
    font-size: 2.5em;
    margin-top: 0pt;
    margin-bottom: 5pt;
}

#info {
    width: 400px;
    display: inline-block;
    margin-left: 10pt;
    margin-right: 10pt;
    text-align: justify;
    font-family: Verdana;
}

#reparto {
    display: inline-block;
    margin-left: 10pt;
    margin-right: 10pt;
    padding-top: 0pt;
    margin-top: 0pt;
    font-family: Verdana;
    list-style-image: url("https://goo.gl/6hPSSH");
}

#info h3 {
    margin-top: 0pt;
}

#reparto h3 {
    margin-top: 0pt;
}

.contenedor {
    margin-top: 0pt;
    display: inline-block;
}

/*  */
